body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #040625;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
